.Calculadora {
  margin: 0 auto;
  max-width: 300px;
}
.Display {
  text-align: right;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}
.BotonesNumeros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: grey;
}

.BotonesNumeros button {
  flex: 0 0 33% 0;
  padding: 20px 0;
  cursor: pointer;
}
